.fourth {
    position: relative;
    background-color: #040904;
    height: 105vh;
    width: 100%;;
    max-width: 100%;;
    overflow: hidden;
    
}

.section__banner {
    position: absolute;
    height: 15vh;
    width: 100%;
}

.section__banner--eng {
    position: absolute;
    height: 15vh;
    width: 100%;
}

.section__banner--eng:hover, .section__banner:hover {
    transform: scale(1.03);
    filter: brightness(0.65);
}

.section__banner--top {
    top: 10px;
}

.section__banner--bottom {
    bottom: 10px;
}

.fourth__paragraph {
    position: relative;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #F8E8F7;
    text-align: justify;
    line-height: 2.3vh;
    font-size: 0.95vw;
    padding-left: 20%;
    padding-right: 20%;
}

.fourth__paragraph--eng {
    padding-left: 20%;
    padding-right: 20%;
}

.fourth__paragraph--bottom {
    padding-top: 4%;
}

.fourth__paragraph--bottom--eng {
    padding-top: 3%;
}

.fourth__paragraph__mission, .fourth__paragraph__mission--eng {
    position: absolute;
    top: -20%;
    font-size: 6vw;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.see {
    font-size: 0.94vw;
}

#ekipa {
    float: right;
}

/* for tablets */
@media (max-aspect-ratio: 800/600) {
    .section__banner--eng, .section__banner {
        height: 9vh;
        width: auto;
    }

    .fourth__paragraph {
        font-size: 2.5vw;
        padding-left: 7%;
        padding-right: 7%;
        line-height: 2.8vh;
        top: 57%;
    }

    .see {
        font-size: 2.8vw;
    }

    .fourth__paragraph__mission {
        top: -17%;
        font-size: 25vw;
        left: 60%;
        text-align: right;
    }

    .fourth__paragraph__mission--eng {
        top: -13%;
        font-size: 20vw;
        left: 53%;
        text-align: right;
    }
    
}

/* for smartphones */
@media (max-aspect-ratio: 320/560) {
    .section__banner--eng, .section__banner {
        height: 8vh;
        width: auto;
    }

    .fourth__paragraph {
        font-size: 3.8vw;
        padding-left: 7%;
        padding-right: 7%;
        line-height: 2.3vh;
        top: 55%;
    }

    .see {
        font-size: 3.3vw;
    }

    .fourth__paragraph__mission {
        top: -15%;
        font-size: 23vw;
        left: 67%;
    }

    .fourth__paragraph__mission--eng {
        top: -7%;
    }
}

@media (max-height: 660px) {
    .fourth__paragraph {
        line-height: 2.4vh;
    }
}

/* jeszcze zrobić na ANGIELSKĄ mobilkę responsywność */
/* PROPOZYCJA ---> zmienić napis na samo: "MISSION" */
