.fifth {
    position: relative;
    background-color: #040904;
}

.fifth__paragraph {
    position: absolute;
    top: 32%;
    left: 16.5%;
    width: 47%;
    color: #F8E8F7;
    text-align: justify;
    line-height: 2.2vh;
    font-size: 0.85vw;
}

.fifth__paragraph--strike {
    position: absolute;
    top: -17%;
    font-size: 6vw;
    left: 32%;
    white-space: nowrap;
}

.fifth__paragraph--strikeMobile {
    display: none;
}

.fifth__paragraph--bottom {
    padding-top: 3.5%;
}

.fifth__paragraph--signature {
    padding-top: 1%;
    float: right;
}

.cormorant-font-italic {
    font-family: 'Cormorant', serif;
    font-style: italic;
}

#pose {
    font-size: 7vw;
}

#swan {
    font-size: 0.9vw;
}

.fifth__img {
    position: absolute;
    left: 112%;
    top: 25%;
    width: 28%;
    height: auto;
}


/* for tablets */
@media (max-aspect-ratio: 1/1) {
    .fifth__img {
        display: none;
    }

    .fifth__paragraph {
        top: 59%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 2.8vw;
        width: 100%;
    }

    .fifth__paragraph--bottom {
        padding-left: 5%;
        padding-right: 5%;
    }

    .fifth__paragraph--signature {
        padding-right: 5%;
        font-size: 3.3vw;
    }

    #swan {
        font-size: 3.45vw;
    }

    .fifth__paragraph--strike {
        display: none;
    }

    .fifth__paragraph--strikeMobile {
        display: block;
        position: absolute;
        top: -21%;
        font-size: 18.5vw;
        left: 5%;
    }

    #aPose {
        padding-left: 40%;
        padding-top: 15%;
        white-space: nowrap;
    }

    #pose {
        font-size: 19.5vw;
    }
}

@media (max-aspect-ratio: 320/560) {
    .fifth__paragraph {
        font-size: 3vw;
    }
}

@media (max-height: 660px) {
    .fourth__paragraph {
        line-height: 2.4vh;
    }
}


/* dopasować jeszcze ewentualnie line-heighty dla danych  wysokości pixelowych!!
- galaxy fold
- iphony 
- tablety (ENG) */

/* dopasować line-height jeszcze w kształtach bliskich kwadratu */