.second {
    background: #040904;
}

.second__img {
    position: absolute;
    right: 0;
    width: auto;
    height: 100vh;
}

.second__subtitle {
    position: absolute;
    left: 13.5%;
    top: 95%;
    color: #F8E8F7;
    font-size: 16.5vh;
    font-weight: lighter;
    letter-spacing: -4px;
}

.second__paragraph {
    position: absolute;
    top: 130%;
    left: 6%;
    width: 32.5%;
    color: #F8E8F7;
    text-align: justify;
    line-height: 2.3vh;
    font-size: 0.85vw;
}

.second__blur {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.second__paragraph--bottom {
    position: absolute;
    top: 125%;
}


/* replaced with transparent black background */
/* @media (max-aspect-ratio: 1600/780) {
    .second__paragraph {
        width: 29%;
    }
}

@media (max-aspect-ratio: 1500/830) {
    .second__paragraph {
        width: 22%;
    }
} */