.sixth {
    background-color:  #040904;
    height: auto;
    width: 100%;;
    max-width: 100%;;
    overflow: hidden;
}

.sixth__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.sixth__gridItem {
    height: auto;
    width: 100%;
    object-fit: contain;
}


/* for iPad */
@media (max-aspect-ratio: 1/1) {
    .sixth__grid {
        grid-template-columns: repeat(auto-fill, 32%); 
        transform: translate(0.5%, 0);
        width: 97%;
        /* min-width: 280px; */
    }

    .sixth {
        height: 145vh;
    }
    
}

/* for Kindle */
@media (max-aspect-ratio: 800/1200) {
    .sixth {
        height: 125vh;
    }
    
}

/* for smartphones */
@media (max-aspect-ratio: 320/560) {
    .sixth {
        height: 110vh;
    }
}

/* for iPhone X */
@media (max-aspect-ratio: 380/820) {
    .sixth {
        height: 92vh;
    }
}


/* dla Galaxy Folda dać osobne!!! bo ma najmniejsze ratio  */