.sixth {
    background-color:  #040904;
}

.sixth__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 25vh);
    max-width: 1060px;
    margin: 0 auto; /*spytać dziobaka jeszcze raz o wytłumaczenie tego!*/
}

.sixth__gridItem {
    height: auto;
    width: 100%;
    object-fit: contain;
}

/* responsywność do zrobienia z dziobakiem, bo rozmiary są tough do zrobienia!!! */