@import "style_sec2.css";
@import "style_sec3.css";
@import "style_sec4.css";
@import "style_sec5.css";
@import "style_sec6.css";
@import "style_sec7.css";
@import "style_sec8.css";

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    width: 100%;
    max-width: 100%;;
    overflow: hidden;
}

.hero {
    background-image: url("media/tlo1.jpg");
    background-size: cover;
}

.hero__logo {
    position: absolute;
    left: 20%;
    top: 32%;    
    height: 24.5%;
    width: 63.5%;
}

/* it centers image in its parent - hero__logo*/
.hero__logo__img {
    height: auto;
    width: 100%;
    position: absolute; /*PYTANIE: czemu jak było relative to się coś pierdoliło i top: nie dało się zmieniać */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero__subtitle {
    position: absolute;
    margin: 0;
    color: #F8E8F7;
    font-size: 4.5vw;
    line-height: 119px;
    font-weight: normal;
    letter-spacing: -2px;
}

.facebook:hover, .instagram:hover, .contact:hover, .for_media:hover, .zrzutka:hover, .hero__subtitle:hover {
    opacity: 0.7;
}

.about__movie {
    top: 105%;
    left: -10%;
} 

.about__mission {
    top: -75%;
    right: -10%;
}

.about__us {
    top: 150%;
    right: 10%;
}

.zero_num {
    font-family: 'Cormorant', serif;
    font-weight: 500;
}

.hero__footer {
    position: absolute;
    bottom: -150%;
    font-size: 1.1vw;
    width: 18vw;
    height: auto;
    color: #F8E8F7;
}
.hero__footer--left {
    left: -27%;
}

.hero__footer--right1 {
    right: -1%;
}

.hero__footer--right2 {
    right: -21%;
    display: inline;
    width: 10vw;
}

.instagram, .contact, #zrzutka_star, #movie{
    float: left;
}

.facebook, .for_media, #kuzka {
    float: right;
}

.star, .zrzutka {
    text-align: center;
}

.hero__button {
    position: absolute;
    bottom: 185%;
    left: -30%;
    background-color: #F8E8F7;
    border: none;
    padding: 1vw;
    text-align: center; 
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
    outline: none;
    border-radius: 60%;
    letter-spacing: -1px;
    white-space: nowrap;
}

.hero__description {
    position: absolute;
    left: 17%;
    width: 21vw;
    color: #F8E8F7;
}


.hero__description--text {
    bottom: 175%;
    height: 15%;
    text-align: justify;
    font-size: 0.75vw;
    font-weight: lighter;
}

.hero__description--title {
    bottom: 195%;
    font-size: 1.1vw;
}

#document {
    display: inline;
    padding-left: 15px;
}

header > div > div a, header > div > a {
    text-decoration: none;
    color: #F8E8F7;
}


