.eighth {
    background-color: #040904;
    height: 100vh;
    width: 100%;
}

.eighth__header {
    position: relative;
    left: 15%;
    top: 15%;
    height: auto;
    width: 60%;
    font-size: 12vw;
    color: #F8E8F7;
}

.eighth__forMedia {
    position: absolute;
    bottom: -30%;
    right: -18%;
    font-size: 6vw;
}

.eighth__media {
    font-size: 5.5vw;
}

.eighth__email {
    position: absolute;
    top: 160%;
    left: 38%;
    font-size: 2vw;
}

.eighth__instagram {
    position: absolute;
    top: 150%;
    width: 100%;
    text-align: center;
    font-size: 1.25vw;
}

div > div > div > a {
    text-decoration: none;
    color: #F8E8F7;
}

div > div > div > a:hover {
    color: #bbb8b8;
    text-decoration: underline;
}

.eighth__footer {
    position: relative;
    top: 90%;
    width: 100%;
    height: 5%;
    color: #F8E8F7;
    font-size: 0.6vw;
}

.eighth__logo__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    width: 7%;
}

.eighth__footer--sides {
    -ms-transform: translate(0, 250%);
    transform: translate(0, 250%);
}

.eighth__design {
    float: left;
    padding-left: 2%;
}

.eighth__programming {
    float: right;
    padding-right: 2%;
}



/* for tablets */
@media (max-aspect-ratio: 1/1) {
    .eighth {
        height: 75vh;
    }

    .eighth__logo__img {
        width: 25%;
    }

    .eighth__footer {
        font-size: 1.5vw;
    }

    .eighth__header {
        left: 5%;
        top: 30%;
        width: 60%;
        font-size: 18vw;
    }
    
    .eighth__forMedia {
        bottom: -45%;
        left: 8vw;
        font-size: 13vw;
        white-space: nowrap;
    }

    .eighth__media {
        font-size: 11.5vw;
    }

    .eighth__email {
        top: 170%;
        left: 38%;
        font-size: 4vw;
    }
    
    .eighth__instagram {
        position: absolute;
        top: 150%;
        width: 100%;
        text-align: center;
        font-size: 3.25vw;
    }

}

/* for smartphones */
@media (max-aspect-ratio: 320/560) {
    .eighth {
        height: 60vh;
    }
}

/* for iPhone X */
@media (max-aspect-ratio: 410/812) {
    .eighth {
        height: 50vh;
    }
}