.third {
    background: #040904;
    position: relative;
    height: 100vh;
    width: 100%;;
    max-width: 100%;;
    overflow: hidden;
}

/* height and width are set proportional to gif1 size ratio */
/* this is the parent */
.third__box {
    position: absolute;
    right: 6.8%;
    top: 23%;
    width: 56%;
    height: 58%;
}

.third__box--gif1 {
    width: 100%;
    height: auto;
}   

.third__box--position {
    position: absolute;
}

.third__box--gif2 {
    top: 89%;
    right: -3%;
    width: 31%;
    height: auto;
} 

.third__box--gif3 {
    top: -34%;
    right: 16.5%;
    width: 28%;
    height: auto;
} 

.third__box--gif4 {
    bottom: -16%;
    right: 81.4%;
    width: 36.8%;
    height: auto;
} 

.third__box--gif5 {
    top: 18%;
    left: -46.6%;
    width: 44%;
    height: auto;
} 

.third__box--gif6 {
    top: -37%;
    left: 9%;
    width:27%;
    height: auto;
} 

.third__box__text {
    color: #F8E8F7;
    font-size: 3.5vw;
}


.third__box__text--trailer {
    line-height: 80%;
    top: -20.2%;
    left: -47.5%;
}

.third__box__text--soon {
    top: 83.1%;
    left: 48%;
}

.third__box__text--soon--ENG {
    top: 83.1%;
    left: 35%;
    white-space: nowrap;
}

/* for tablets */
@media (max-aspect-ratio: 1/1) {
    .third__box--gif2, .third__box--gif3, .third__box--gif4, .third__box--gif5 {
        visibility: hidden;
    }

    .third {
        height: 40vh;
    }

    .third__box__text {
        font-size: 5vw;
    }

    .third__box--gif1 {
        position: absolute;
        top: 60%;
        left: -46.6%;
        width: 50%;
        height: auto;
        z-index: 1;
    }

    .third__box--gif6 {
        position: static;
        width: 90%;
        height: auto;
        transform: translate(-10%, 15%);
    }
}


/* for smartphones */
@media (max-aspect-ratio: 320/560) {
    .third__box__text {
        font-size: 7vw;
    }

    .third__box--gif1 {
        width: 60%;
    }

    .third__box--gif6 {
        width: 115%;
        transform: translate(-10%, 10%);
    }
}