.seventh {
    background-color: #040904;
    height: 100vh;
    width: 100%;;
    max-width: 100%;;
    overflow: hidden;
}

.seventh__box {
    position: relative;
    height: 100vh;
}

.seventh__box--grid {
    position: absolute;
    top: 10vh;
    left: 8vw;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(4, 19%);
    grid-template-rows: repeat(2, 44%);
}

.seventh__img {
    width: 103%;
}

.seventh__img--2 {
    width: 110%;
}

.seventh__img--4 {
    transform: translate(-1.3vw);
}

.seventh__img--5 {
    margin-left: 1.5vw;
}

.seventh__img--6 {
    width: 110%;
}

.seventh__img--8 {
    transform: translateX(-1.7vw);
}

.seventh__box--about-us {
    color: #F8E8F7;
    position: absolute;
    right: 11vw;
    font-size: 7vw;
    font-weight: lighter;
}

.seventh__box--about-usENG {
    color: #F8E8F7;
    position: absolute;
    right: 11vw;
    font-size: 7vw;
    font-weight: lighter;
}

.helvetica {
    font-family: Helvetica, Arial, sans-serif;
}

.seventh__about {
    font-size: 7.5vw;
}

.seventh__box--paragraph {
    position: absolute;
    top: 10vw;
    right: 7vw;
    width: 14%;
    color: #F8E8F7;
    text-align: justify;
    line-height: 2.2vh;
    font-size: 0.86vw;
}


/* for tablets */
@media (max-aspect-ratio: 1/1) {
    .seventh__box--grid {
        grid-template-columns: repeat(auto-fill, 30%);
        grid-template-rows: repeat(3, 26%);
        top: 34vh;
        grid-gap: 4.5vw;
        width: 90vw;
        left: 2vw;
    }

    .seventh__img {
        width: 120%;
    }

    .seventh__img--2 {
        transform: rotate(-4deg);
    }

    .seventh__img--4 {
        transform: rotate(-1deg)
    }

    .seventh__img--5 {
        width: 115%;
        transform: translate(0, 5%);
    }

    .seventh__img--6 {
        width: 135%;
        transform: rotate(12deg) translate(-8%, 0);
    }

    .seventh__img--7 {
        transform: translate(25%, -4%);
    }

    .seventh__img--8 {
        transform: translate(28%, 6%) rotate(-8deg);
        width: 125%;
    }

    .seventh__box--about-us {
        font-size: 22vw;
    }

    .seventh__about{
        font-size: 25vw;
    }

    .seventh__box--about-usENG {
        font-size: 14vw;
        right: 13vw;
        top: 4vh;
    }

    .seventh__aboutENG {
        font-size: 15vw;
    }

    .seventh__box--paragraph {
        top: 24.5vw;
        right: 14vw;
        width: 75%;
        line-height: 2vh;
        font-size: 3vw;
    }
}

/* for iPad */
@media (max-aspect-ratio: 800/1000) {
    .seventh {
        height: 130vh;
    }
}

/* for Kindle */
@media (max-aspect-ratio: 800/1280) {
    .seventh {
        height: 115vh;
    }
}

/* for smartphones */
@media (max-aspect-ratio: 320/560) {
    .seventh {
        height: 98.5vh;
    }

    .seventh__box--grid {
        top: 28vh;
    }
}

/* for iPhone X */
@media (max-aspect-ratio: 375/812) {
    .seventh {
        height: 90vh;
    }
}

/* for Galaxy Fold */
@media (max-aspect-ratio: 280/650) {
    .seventh {
        height: 83vh;
    }
}

    /* na mobilkę: możesz dać media query gdzie właśnie grid-template będzie się zamieniał to auto-fill itp., żeby był wrapowanie, albo po prostu dajesz repeat na mniej kolumn i inny procent długości/wysokości */