@import "style_sec2.css";
@import "style_sec3.css";
@import "style_sec4.css";

body {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    width: 100%;
}

.hero {
    background-image: url("media/tlo1.jpg");
    background-size: cover;
}

.hero__logo {
    position: absolute;
    left: 20%;
    top: 32%;    
    height: 24.5%;
    width: 63.5%;
}

/* it centers image in its parent - hero__logo*/
.hero__logo__img {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero__subtitle {
    position: absolute;
    margin: 0;
    color: #F8E8F7;
    font-size: 4.5vw;
    line-height: 119px;
    font-weight: normal;
    letter-spacing: -2px;
}

.about__movie {
    top: 105%;
    left: -10%;
} 

.about__mission {
    top: -75%;
    right: -10%;
}

.about__us {
    top: 150%;
    right: 10%;
}

.zero_num {
    font-family: 'Cormorant', serif;
    font-weight: 500;
}

.about {
    font-family: sans-serif;
    font-style: normal;
}

.hero__footer {
    position: absolute;
    bottom: -150%;
    font-size: 1.1vw;
    width: 18vw;
    height: auto;
    color: #F8E8F7;
    font-family: sans-serif;
}
.hero__footer--left {
    left: -27%;
}

.hero__footer--right1 {
    right: 3%;
}

.hero__footer--right2 {
    right: -17%;
    display: inline;
    width: 10vw;
}

.instagram, .contact, #zrzutka_star, #movie{
    float: left;
}

.facebook, .for_media, #kuzka {
    float: right;
}

.star, .zrzutka {
    text-align: center;
}

.hero__button {
    position: absolute;
    bottom: 185%;
    left: -30%;
    background-color: #F8E8F7;
    border: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    cursor: pointer;
    outline: none;
    border-radius: 60%;
    letter-spacing: -1px;
    white-space: nowrap;
}

.hero__description {
    position: absolute;
    left: 17%;
    width: 21vw;
    color: #F8E8F7;
    font-family: sans-serif;
}


.hero__description--text {
    bottom: 175%;
    height: 15%;
    text-align: justify;
    font-size: 0.75vw;
    font-weight: lighter;
}

.hero__description--title {
    bottom: 195%;
    font-size: 1.1vw;
}

#document {
    display: inline;
    padding-left: 15px;
}

header > div > div a {
    text-decoration: none;
    color: #F8E8F7;
}

/* możesz potem dodać media query dla bardzo szerokich ekranów żeby napisy 01,02,03 miały mniejszą czcionkę mniej więcej proporcjonalnie do loga */


